<nav id="top"
     class="tiendatek navbar sticky-top navbar-expand-lg navbar-dark bg-tiendatek-nav{% if page.layout=='home' %}-home{% endif %}">
    <a class="navbar-brand page-scroll" href="{{site.baseurl}}/#top">
        <img src="{{site.baseurl}}/assets/img/logo_tiendatek.png" alt="tiendatek" class=".d-none .d-sm-block">
        Tiendatek
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#frogtekMenu"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="frogtekMenu">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end text-right nav-type-text">
            <li>
                <a class="nav-item nav-link page-scroll" onClick="linkEvent('caracteristicas', 'cabecera')" 
                   href="{{site.baseurl}}/#features-tt-caja">Características</a>
            </li>
            <li>
                <a class="nav-item nav-link page-scroll" onClick="linkEvent('testimoniales', 'cabecera')" 
                   href="{{site.baseurl}}/#testimonial">Testimoniales</a>
            </li>
            <li class="d-none d-md-inline">
                <a class="nav-item nav-link page-scroll" onClick="linkEvent('lo_quiero', 'cabecera')"
                   href="{{ site.form_shopkeeper_url }}">Lo quiero</a>
            </li>
            <li class="d-inline d-md-none">
                <a class="nav-item nav-link page-scroll" onClick="linkEvent('lo_quiero', 'cabecera')"
                   href="{{ site.form_shopkeeper_url }}?referrer=CEL">Lo quiero</a>
            </li>
            <li>
                <a class="nav-item nav-link page-scroll" onClick="linkEvent('distribuidores', 'cabecera')"
                   href="{{ site.baseurl }}/distribuidores/">Distribuidores</a>
            </li>             
            <li>
                <a class="nav-item nav-link page-scroll" onClick="linkEvent('contacto', 'cabecera')" 
                   href="{{site.baseurl}}/#contact">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
