<script src="{{site.baseurl}}/assets/vendor/jquery-3.3.1.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/bootstrap-4.1.3-dist/js/bootstrap.bundle.js"></script>
<script src="{{site.baseurl}}/assets/vendor/owlcarousel2-2.3.4-dist/owl.carousel.min.js"></script>
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1c2a9bab-e14a-4a12-99c2-94eb8dd2ed4d"> </script>
<script>
    jQuery(document).ready(function () {
        $(".copyright").html(function() {
            const thisYear = (new Date()).getFullYear();
            return $(this).html().replace('today', thisYear);
        });
    });
</script>
<script>
	if (screen.width <= 992) {
		var form_shopkeeper_url;
		var isWhatsapp = false;
		if (Math.floor(Math.random() + 0.5)) {
			form_shopkeeper_url = "{{ site.form_shopkeeper_whatsapp_url }}";
			isWhatsapp = true;	
		} else {
			form_shopkeeper_url = "{{ site.form_shopkeeper_url }}?referrer=CEL"
		}
		jQuery(document).ready(function () {
			if (isWhatsapp) {
				$(".want-it").append("<img src=\"{{site.baseurl}}/assets/img/logo_whatsapp.png\" alt=\"whatsapp\">");
			}
			$(".want-it").attr("href", form_shopkeeper_url);
		});
	}
</script>
