<section id="contact" class="contact-container container-fluid bg-light p-md-5">
    <div class="row  justify-content-around">
        <div class="col col-md-8 text-center">
            <h2>Contacta con nosotros</h2>
            <p>Déjanos tus datos y nos pondremos en contacto contigo</p>
        </div>
    </div>
    <div class="row justify-content-center">

        {% if page.id == 'distribuidores' %}
            <div class="col col-md-4 mb-4">
                <a href="{{ site.form_distributor_url }}" onClick="linkEvent('distribuir', 'distribuidores')" 
                   class="btn btn-lg btn-frogtek btn-block">¡Quiero distribuir Tiendatek!</a>
            </div>
        {% else %}
            <div class="col col-md-4 mb-4">
                <a href="{{ site.baseurl }}/distribuidores/" onClick="linkEvent('distribuir', 'tiendatek')" 
                   class="btn btn-lg btn-outline-frogtek btn-block">¡Quiero distribuir Tiendatek!</a>
            </div>
            <div class="col col-md-4 mb-4">
                <a href="{{ site.form_shopkeeper_url }}" onClick="linkEvent('lo_quiero', 'contacto')" 
                   class="btn btn-lg btn-frogtek btn-block">¡Quiero Tiendatek para mi tienda!</a>
            </div>
        {% endif %}
    </div>

</section>
