<section id="features-tt-caja" class="features-tt-caja block container-fluid p-md-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="block-title wow animated rollIn"><span class="tiendatek-brand">Tiendatek caja</span>
                el TPV para tiendas de abarrotes</h2>
        </div>
    </div>
    <div class="row justify-content-center p-1 p-md-4">
        <div class="col-12 col-md-3 d-flex flex-row align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-packaging"></i></div>
                    <h5 class="text-center">completo y económico</h5>
                    <p>Ventas, gestión de proveedores, informes, venta de TA... todo lo que necesitas para la
                        gestión de tu negocio a un precio más que razonable</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-row align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-easy"></i></div>
                    <h5 class="text-center">Facil de usar</h5>
                    <p>Los sistemas punto de venta no tienen porque ser complicados ni caros, si sabes usar tu
                        smartphone, sabrás usar Tiendatek, solo unos cuantos clicks y listo.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-row align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-shop"></i></div>
                    <h5 class="text-center">Especial para tiendas de abarrotes</h5>
                    <p>Conocemos tu día a día. Nuestra solución está diseñada específicamente para ayudarte
                        con la administración de tu tienda.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center p-1 p-md-4">
        <div class="col-12 col-md-3 d-flex flex-row align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-move-by-trolley"></i></div>
                    <h5 class="text-center">40.000 Productos Precargados</h5>
                    <p>No necesitas registrar el nombre de los productos que vendes. Tiendatek tiene más del
                        98% de todos los productos que una tienda de abarrotes normalmente vende.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-row align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-mobile-payment"></i></div>
                    <h5 class="text-center">Tiempo Aire y servicios</h5>
                    <p>Podrás ofrecer servicios adicionales a tus clientes: vende tiempo aire y pago de
                        servicios sin salir de nuestra app</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-row align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-barcode-scanner-2"></i></div>
                    <h5 class="text-center">Scanner</h5>
                    <p>¿Quieres ganar tiempo? Registra compras o realiza acciones escaneando códigos de
                        barras.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center p-1 p-md-4">
        <div class="col-12 col-md-3 d-flex flex-row align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-bank-cards"></i></div>
                    <h5 class="text-center">Cobro con tarjetas de crédito y débito</h5>
                    <p>Muchas personas no pagan con efectivo, por lo que aceptar pagos con tarjeta moderniza
                        la imagen de tu tienda, genera más clientes y la hace más competitiva.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-row align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-upload-to-cloud"></i></div>
                    <h5 class="text-center">Respaldo en la nube</h5>
                    <p>Con Tiendatek toda tu información acerca de ventas, compras, inventario, etc, se guarda
                        automáticamente en la nube para que la tengas siempre resguardada y puedas acceder a
                        ella cuando la necesites.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-row align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-light-on"></i></div>
                    <h5 class="text-center">Asistentes inteligentes</h5>
                    <p>Nuestros asistentes, basándose en datos, te ayudarán a fijar precios, hacer los pedidos
                        justos, etc. </p>
                </div>
            </div>
        </div>
    </div>
</section>
