<section id="tt-caja-gallery" class="block container-fluid bg-light">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <div class="tt-caja-carousel owl-carousel owl-theme">
                <img src="assets/img/screenshots/tt-control-1.png" alt="tiendatek control" class=img_res">
                <img src="assets/img/screenshots/tt-control-2.png" alt="tiendatek control" class=img_res">
                <img src="assets/img/screenshots/tt-control-3.png" alt="tiendatek control" class=img_res">
                <img src="assets/img/screenshots/tt-control-4.png" alt="tiendatek control" class=img_res">
                <img src="assets/img/screenshots/tt-control-5.png" alt="tiendatek control" class=img_res">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center btn-next m-5">
            <a href="#testimonial" class="page-scroll m-auto">
                <i class="icon icon-scroll text-dark display-3"></i>
            </a>
        </div>
    </div>
</section>
