<section id="cover">
    <div class="tiendatek-cover jarallax">
        <img class="jarallax-img" src="{{ site.baseurl }}/assets/img/bg_cover.jpg"
             alt="frogtek tiendatek">
        <div class="cover-slogan d-flex flex-column align-items-center">
            <div class="d-flex d-inline align-self-center flex-column justify-content-center flex-fill text-white m-auto text-center w-100">
                <div class="container">
                    <div class="row" data-aos="zoom-in"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="1000"
                         data-aos-delay="100">
                        <div class="col col-lg-8 text-center display-3">
                            El terminal punto de venta que aprende y te ayuda a mejorar tu tienda de
                            abarrotes
                        </div>
                    </div>
                </div>
            </div>
            <img class="cover-near d-none d-lg-block" alt="tiendatek tpv"
                 src="{{ site.baseurl }}assets/img/girl_and_tech.png"/>
        </div>
        <div class="text-center btn-next container">
            <a href="#intro" class="page-scroll m-auto">
                <i class="icon icon-scroll text-white display-3"></i>
            </a>
        </div>
    </div>
</section>
