<section id="price" class="price-container block container mt-lg-5 mb-lg-5">

    <div class="row mb-lg-5">
        <div class="col text-center">
            <h1 class="block-title">Características de <span class="tiendatek-brand">Tiendatek</span></h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col col-md-7">
            <p>Incluye:</p>
            <ul class="price-included">
                <li><i class="icon icon-check d-inline-block"></i> Tiendatek Caja: el TPV especializado en
                    abarroteras
                </li>
                <li><i class="icon icon-check d-inline-block"></i> Acceso a Tiendatek Control</li>
                <li><i class="icon icon-check d-inline-block"></i> Tableta Android de 10"</li>
                <li><i class="icon icon-check d-inline-block"></i> Escáner inalámbrico de códigos de barras
                </li>
                <li><i class="icon icon-check d-inline-block"></i> Impresora de tickets (opcional)</li>
                <li><i class="icon icon-check d-inline-block"></i> Actualizaciones ilimitadas</li>
                <li><i class="icon icon-check d-inline-block"></i> Base de datos de productos precargados
                </li>
                <li><i class="icon icon-check d-inline-block"></i> Copias de seguridad en la nube</li>
                <li><i class="icon icon-check d-inline-block"></i> Módulo de venta de Tiempo Aire</li>
                <li><i class="icon icon-check d-inline-block"></i> Módulo de pago de servicios</li>
                <li><i class="icon icon-check d-inline-block"></i> Soporte</li>
            </ul>
        </div>
        <div class="col col-md-3 text-center">
            <div class="card">
                <div class="card-body">
                    <a href="{{ site.form_shopkeeper_url }}" onClick="linkEvent('lo_quiero', 'precio')"
                       class="btn btn-frogtek btn-lg btn-block want-it">¡Lo quiero!</a>
                </div>
                <div class="card-footer text-left">
                    <em>
                        <p>Es necesaria una conexión a internet (para sincronizar datos, actualizaciones y
                            acceso a Tiendatek Control)</p>
                    </em>
                </div>
            </div>
        </div>
    </div>

</section>
