<section id="tt-caja-gallery" class="block container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <div class="tt-caja-carousel owl-carousel owl-theme">
                <img src="assets/img/screenshots/tt-caja-1.png" alt="tiendatek tpv" class="img_resitem">
                <img src="assets/img/screenshots/tt-caja-2.png" alt="tiendatek tpv" class="img_resitem">
                <img src="assets/img/screenshots/tt-caja-3.png" alt="tiendatek tpv" class="img_resitem">
                <img src="assets/img/screenshots/tt-caja-4.png" alt="tiendatek tpv" class="img_resitem">
                <img src="assets/img/screenshots/tt-caja-5.png" alt="tiendatek tpv" class="img_resitem">
                <img src="assets/img/screenshots/tt-caja-6.png" alt="tiendatek tpv" class="img_resitem">
                <img src="assets/img/screenshots/tt-caja-7.png" alt="tiendatek tpv" class="img_resitem">
                <img src="assets/img/screenshots/tt-caja-8.png" alt="tiendatek tpv" class="img_resitem">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center btn-next m-5">
            <a href="#features-tt-control" class="page-scroll m-auto">
                <i class="icon icon-scroll text-dark display-3"></i>
            </a>
        </div>
    </div>
</section>
