<section id="features-tt-control" class="features-tt-control container-fluid bg-light p-md-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="block-title wow animated rollIn"><span class="tiendatek-brand">Tiendatek control</span>, 
                gestiona tu tienda desde casa</h2>
        </div>
    </div>
    <div class="row justify-content-center p-1 p-md-4">
        <div class="col-12 col-md-3  d-flex flex-row  align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-security-checked"></i></div>
                    <h5 class="text-center">Controla tu tienda</h5>
                    <p>¿Tienes empleados y no sabes lo confiables que son? Con Tiendatek Control puedes
                        monitorear lo que sucede en tu tienda en tiempo real sin la necesidad de estar ahí.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3  d-flex flex-row  align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-truck"></i></div>
                    <h5 class="text-center">Revisa pedidos</h5>
                    <p>Consulta tus pedidos recibidos y por recibir.
                        Organiza las próximas reuniones con tus proveedores desde cualquier lugar.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3  d-flex flex-row  align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-graph"></i></div>
                    <h5 class="text-center">Consulta ganancias</h5>
                    <p>Los informes financieros te ayudarán a conocer la situación económica de tu tienda.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center p-1 p-md-4">
        <div class="col-12 col-md-3  d-flex flex-row  align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-calendar"></i></div>
                    <h5 class="text-center">Históricos</h5>
                    <p>Además de informes en tiempo real, con Tiendatek Control podrás consultar informes
                        diarios, semanales o mensuales.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3  d-flex flex-row  align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-add-to-favorites"></i></div>
                    <h5 class="text-center">Funcionalidades extra</h5>
                    <p>Exportar los informes para usarlos con otros programas (Excel, etc.), mandarlos por
                        correo o lo que tú quieras.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3  d-flex flex-row  align-items-stretch">
            <div class="card" data-aos="zoom-in" data-aos-once="true" data-aos-easing="ease">
                <div class="card-body">
                    <div class="text-center">
                        <i class="icon icon-worldwide-location"></i></div>
                    <h5 class="text-center">Desde cualquier lugar</h5>
                    <p>¿Quieres ver cómo va tu negocio? ¡Hazlo desde cualquier lugar! Con Tiendatek Control
                        solo necesitas un dispositivo con conexión a internet y un navegador web para saber
                        qué está ocurriendo en tu tienda en tiempo real.</p>
                </div>
            </div>
        </div>
    </div>
</section>
