<section id="tt-caja-gallery" class="block container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <div class="tt-caja-carousel owl-carousel owl-theme">
                <img src="assets/img/screenshots/screenshot-1.png" class="img_resitem">
                <img src="assets/img/screenshots/screenshot-2.png" class="img_resitem">
                <img src="assets/img/screenshots/screenshot-3.png" class="img_resitem">
                <img src="assets/img/screenshots/screenshot-4.png" class="img_resitem">
                <img src="assets/img/screenshots/screenshot-5.png" class="img_resitem">
                <img src="assets/img/screenshots/screenshot-6.png" class="img_resitem">
                <img src="assets/img/screenshots/screenshot-7.png" class="img_resitem">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center btn-next m-5">
            <a href="#features-tt-control" class="page-scroll m-auto">
                <i class="icon icon-scroll text-dark display-3"></i>
            </a>
        </div>
    </div>
</section>
