<section id="intro" class="bg-light">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-10 intro p-md-5">
                <h2 class="text-center">Hacemos tu tienda de abarrotes más competitiva</h2>
                <p>Porque creemos en el canal tradicional llevamos casi 10 años colaborando con tenderas y
                    tenderos creando y mejorando nuestra solución.</p>

                <p>A día de hoy, miles de tienditas repartidas por todo México ya usan nuestro terminal punto
                    de venta <span class="tiendatek">Tiendatek Caja</span> y controlan sus negocios con <span
                            class="tiendatek">Tiendatek Control.</span></p>

                <p>Y es que, mientras que en México las tienditas tradicionales pierden al año entre el 10% y
                    el 15% de su facturación*, las tiendas que usan <span class="tiendatek">Tiendatek</span>
                    por un año incrementan sus ingresos en un 12% de media</p>

                <p>
                    <small>* según la asociación de pequeños comercios (ANPEC)</small>
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col text-center btn-next container p-md-5">
                <a href="#features-tt-caja" class="page-scroll m-auto">
                    <i class="icon icon-scroll text-dark display-3"></i>
                </a>
            </div>
        </div>
    </div>
</section>
