<section id="testimonial" class="testimonial container-fluid">
    <div class="row">
        <div class="col p-md-5">
            <h1 class="text-center text-light">Testimoniales</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-lg-8 owl-carousel owl-theme testimonial-carousel">
            <div class="item">
                <div class="row">
                    <div class="col text-center">
                        <iframe src="https://www.youtube.com/embed/videoseries?list=PLFKYiNcUFD5zOFHDBonyesT2LcZ8Sd0mc"
                                width="720"
                                height="480"
                                frameborder="0"
                                allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
            </div>
            <div class="item row container-fluid bg-shadow">
                <div class="col-sm-4 client-pic pt-5 pl-5">
                    <img class="img-fluid rounded-circle"
                         src="{{site.baseurl}}/assets/img/testimonials/carmen.jpg"
                         alt="tenderas frogtek">
                </div>
                <div class="col-sm-8 text-white p-5">
                    <p class="review-desc">
                        Es más fácil administrar mi tienda porque con <span
                            class="tiendatek-brand">Tiendatek</span> tengo todos los precios y es muy
                        práctico.
                    </p>
                    <p class="client-name">
                        <strong>Carmen Terrazas</strong><br/>
                        Miscelánea Las Rozas
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item row container-fluid bg-shadow">
                    <div class="col-sm-4 client-pic pt-5 pl-5">
                        <img class="img-fluid rounded-circle"
                             src="{{site.baseurl}}/assets/img/testimonials/leticia.jpg"
                             alt="tenderas frogtek">
                    </div>
                    <div class="col-sm-8 text-white p-5">
                        <p class="review-desc">
                            <span class="tiendatek-brand">Tiendatek</span> nos ha ayudado a controlar
                            mejor nuestro inventario, nuestras existencias y las ventas.
                        </p>
                        <p class="client-name">
                            <strong>Leticia Carrera</strong><br/>
                            Abarrotes Seis Cocurpe
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item row container-fluid bg-shadow">
                    <div class="col-sm-4 client-pic pt-5 pl-5">
                        <img class="img-fluid rounded-circle"
                             src="{{site.baseurl}}/assets/img/testimonials/ma_eugenia.jpg"
                             alt="tenderas frogtek">
                    </div>
                    <div class="col-sm-8 text-white p-5">
                        <p class="review-desc">
                            Es muy práctico y rápido, puedo hacer recargas de Tiempo Aire y además le da
                            una buena imagen a mi negocio.
                        </p>
                        <p class="client-name">
                            <strong>Ma. Eugenia Jiménez</strong><br/>
                            Abarrotes Oscar
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center btn-next m-5">
            <a href="#price" class="page-scroll m-auto">
                <i class="icon icon-scroll text-white display-3"></i>
            </a>
        </div>
    </div>
</section>
