@import 'breakpoints';

// Fonts

@font-face {
  font-family: 'ShadowsIntoLight';
  font-style: normal;
  font-weight: 400;
  src: url($baseurl + '/assets/fonts/ShadowsIntoLight.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'MontserratRegular';
  font-style: normal;
  font-weight: 400;
  src: url($baseurl + '/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'frogtek-icons';
  src: url($baseurl + '/assets/fonts/frogtek-icons.eot');
  src: url($baseurl + '/assets/fonts/frogtek-icons.eot?#iefix') format('embedded-opentype'),
  url($baseurl + '/assets/fonts/frogtek-icons.woff2') format('woff2'),
  url($baseurl + '/assets/fonts/frogtek-icons.woff') format('woff'),
  url($baseurl + '/assets/fonts/frogtek-icons.ttf') format('truetype'),
  url($baseurl + '/assets/fonts/frogtek-icons.svg#frogtek-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tiendatek-icons';
  src: url($baseurl + '/assets/fonts/tiendatek-icons.eot?lmxcxm');
  src: url($baseurl + '/assets/fonts/tiendatek-icons.eot?lmxcxm#iefix') format('embedded-opentype'),
  url($baseurl + '/assets/fonts/tiendatek-icons.ttf?lmxcxm') format('truetype'),
  url($baseurl + '/assets/fonts/tiendatek-icons.woff?lmxcxm') format('woff'),
  url($baseurl + '/assets/fonts/tiendatek-icons.svg?lmxcxm#tiendatek-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'frogtek-icons';
    src: url($baseurl + '/assets/fonts/frogtek-icons.svg#frogtek-icons') format('svg');
  }
}

// Common

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: $color-frogtek-green;
  text-decoration: none;
}

nav {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
}

.nav-type-text {
  text-transform: uppercase;
}

// Global

.form-button {
  position: fixed;
  left: 0;
  bottom: 0;
}


.frogtek-title {
  color: $color-frogtek-title;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.btn-frogtek,
.btn-frogtek:visited,
.btn-frogtek:hover {
  background-color: $color-frogtek-orange;
  border-color: $color-frogtek-orange;
  color: $color-text-light;
}

.btn-frogtek:hover {
  background-color: $color-frogtek-orange-over;
  border-color: $color-frogtek-orange-over;
}

.btn-outline-frogtek,
.btn-outline-frogtek:visited,
.btn-outline-frogtek:hover {
  background-color: $color-text-light;
  border-color: $color-frogtek-orange;
  color: $color-frogtek-orange;
}

.btn-outline-frogtek:hover {
  border-color: $color-frogtek-orange-over;
  color: $color-frogtek-orange-over;
}

.small {
  .btn-outline-frogtek {
    font-size: 80%;
    font-weight: 400;
  }
}

// Navbar

.navbar-collapse {
  align-self: flex-start;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

@include media-breakpoint-down(lg) {
  .navbar-brand img {
    max-width: 150px;
  }
}

// Price

.price-included {
  font-weight: 300;
  padding: 0;

  li {
    font-size: 1.5em;
    list-style: none;
  }

  i {
    color: $color-frogtek-green;
  }
}

/////////////////////////////////////////////////////////////////////
//  10 - Testimonial
/////////////////////////////////////////////////////////////////////

.testimonial {
  background: url($baseurl + '/assets/img/bg_testi.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 2em;
  font-weight: lighter;

  .review-desc {
    font-style: italic;
    margin-left: 20px;
  }

  .client-name {
    font-size: .75em;
    text-align: right;
  }
}

// Footer

footer {
  color: $color-footer-text;

  a,
  a:visited,
  a:hover {
    color: $color-footer-link;
    text-decoration: none;
  }

  li {
    line-height: 2rem;
    list-style: none;
  }

  img {
    border-style: none;
    vertical-align: bottom;
  }
}

// Posts
.post-content {
  img {
    border-radius: .25rem;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  td {
    border: 1px solid $color-icon-4;
    padding: 1em;
  }
}

.post-navigation {
  font-size: 1.25rem;
  a,
  a:visited {
    color: $color-footer-text;
  }
  .icon {
    font-size: 2em;
    vertical-align: middle;
  }
}

.empty-image {
  background-image: $color-placeholder;
  min-height: 250px;
}

// icons
.icon::before {
  display: inline-block;
  font-family: 'frogtek-icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

.icon-check::before {
  content: '\f100';
}

.icon-scroll::before {
  @include prefixer(animation, pulse 2s infinite);
  content: '\f101';
}

.icon-left::before {
  @include prefixer(transform, rotate(90deg));
  content: '\f101';
}

.icon-right::before {
  @include prefixer(transform, rotate(270deg));
  content: '\f101';
}

.icon-launch::before {
  content: '\f102';
}

.icon-price::before {
  content: '\f103';
}

.icon-category::before {
  content: '\f104';
}

.icon-survey::before {
  content: '\f105';
}

.icon-twitter::before {
  content: '\f106';
}

.icon-linkedin::before {
  content: '\f107';
}

.icon-at::before {
  content: '\f108';
}

// Tiendatek icon

.icon-packaging::before {
  content: '\e911';
  font-family: 'tiendatek-icons';
}

.icon-truck::before {
  content: '\e912';
  font-family: 'tiendatek-icons';
}

.icon-bank-cards::before {
  content: '\e902';
  font-family: 'tiendatek-icons';
}

.icon-barcode-scanner-2::before {
  content: '\e903';
  font-family: 'tiendatek-icons';
}

.icon-calendar::before {
  content: '\e904';
  font-family: 'tiendatek-icons';
}

.icon-download-graph-report::before {
  content: '\e905';
  font-family: 'tiendatek-icons';
}

.icon-easy::before {
  content: '\e906';
  font-family: 'tiendatek-icons';
}

.icon-graph::before {
  content: '\e907';
  font-family: 'tiendatek-icons';
}

.icon-light-on::before {
  content: '\e908';
  font-family: 'tiendatek-icons';
}

.icon-mobile-payment::before {
  content: '\e909';
  font-family: 'tiendatek-icons';
}

.icon-move-by-trolley::before {
  content: '\e90a';
  font-family: 'tiendatek-icons';
}

.icon-plus::before {
  content: '\e90b';
  font-family: 'tiendatek-icons';
}

.icon-security-checked::before {
  content: '\e90c';
  font-family: 'tiendatek-icons';
}

.icon-shop::before {
  content: '\e90d';
  font-family: 'tiendatek-icons';
}

.icon-upload-to-cloud::before {
  content: '\e90e';
  font-family: 'tiendatek-icons';
}

.icon-visible::before {
  content: '\e90f';
  font-family: 'tiendatek-icons';
}

.icon-worldwide-location::before {
  content: '\e910';
  font-family: 'tiendatek-icons';
}

.icon-add-to-favorites::before {
  content: '\e900';
  font-family: 'tiendatek-icons';
}

.icon-brainstorm-skill::before {
  content: '\e901';
  font-family: 'tiendatek-icons';
}

.icon-coin-in-hand::before {
  content: '\e913';
  font-family: 'tiendatek-icons';
}

.icon-graduation-cap::before {
  content: '\e914';
  font-family: 'tiendatek-icons';
}

.icon-online-support::before {
  content: '\e915';
  font-family: 'tiendatek-icons';
}

// custom colors

.bg-gradient-orange {
  background: linear-gradient(40deg, $color-gradient-start, $color-frogtek-orange);
}

.bg-gradient-green {
  background: linear-gradient(40deg, $color-gradient-start, $color-frogtek-green);
}

.text-frogtek-orange {
  color: $color-frogtek-orange;
}

.bg-shadow {
  background-color: $color-tiendatek-shadow;
}

// Home Slides

.home-slides {
  h3 {
    color: $color-frogtek-green;
    text-transform: uppercase;
  }

  .owl-nav {
    margin-top: 10px;
    tap-highlight-color: transparent;
    text-align: center;
  }

  .owl-dots {
    -webkit-tap-highlight-color: transparent;
    text-align: center;
  }

  .owl-dot {
    display: inline-block;
    zoom: 1;
    span {
      backface-visibility: visible;
      background: $color-slides-dot;
      border-radius: 30px;
      display: block;
      height: 10px;
      margin: 5px 7px;
      transition: opacity 200ms ease;
      width: 10px;
    }
  }

  .owl-dot.active span,
  .owl-dot:hover span {
    background: $color-slides-dot-active;
  }
}

// Home legend

.empowering {
  font-family: 'ShadowsIntoLight';
  font-size: 3em;
}

// About
.intro {
  font-size: 1.5em;
}

.about {

  .card-up {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 120px;
    overflow: hidden;
  }

  .avatar {
    border: 5px solid $color-text-light;
    border-radius: 50%;
    margin-top: -60px;
    overflow: hidden;
    width: 120px;

    img {
      width: 100%;
    }
  }

  .icon-linkedin {
    font-size: 2em;
  }
}

// tiendatek

.tiendatek-cover,
.cover-slogan {
  background-color: $color-tiendatek-shadow;
  min-height: 105vh;
  .display-3 {
    font-size: 3em;
    font-weight: lighter;
    text-shadow: 0 0 1px $color-tiendatek-shadow;
  }
}

.cover-near {
  bottom: 0;
  position: absolute;
  right: 0;
}

.tiendatek-cover {
  margin-top: -90px;
  h2 {
    font-weight: lighter;
    margin-top: 90px;
  }
}

.btn-next {
  margin-top: -90px;
}

@keyframes pulse {
  0% {
    @include prefixer(transform, translate(0, 0));
  }
  50% {
    @include prefixer(transform, translate(0, 10px));
  }
  100% {
    @include prefixer(transform, translate(0, 0));
  }
}

.rotate-180 {
  @include prefixer(transform, rotate(180deg));
}

.features {
  min-height: 100vh;
}

.features-dealers,
.features-tt-caja,
.features-tt-control {
  .icon {
    font-size: 5em;
  }

  .icon-packaging {
    color: $color-icon-1;
  }
  .icon-truck {
    color: $color-icon-2;
  }
  .icon-bank-cards {
    color: $color-icon-3;
  }
  .icon-barcode-scanner-2 {
    color: $color-icon-4;
  }
  .icon-calendar {
    color: $color-icon-5;
  }
  .icon-download-graph-report {
    color: $color-icon-6;
  }
  .icon-easy {
    color: $color-icon-7;
  }
  .icon-graph {
    color: $color-icon-8;
  }
  .icon-light-on {
    color: $color-icon-9;
  }
  .icon-mobile-payment {
    color: $color-icon-10;
  }
  .icon-move-by-trolley {
    color: $color-icon-11;
  }
  .icon-plus {
    color: $color-icon-12;
  }
  .icon-security-checked {
    color: $color-icon-13;
  }
  .icon-shop {
    color: $color-icon-14;
  }
  .icon-upload-to-cloud {
    color: $color-icon-15;
  }
  .icon-visible {
    color: $color-icon-16;
  }
  .icon-worldwide-location {
    color: $color-icon-17;
  }
  .icon-add-to-favorites {
    color: $color-icon-18;
  }
  .icon-coin-in-hand {
    color: $color-icon-17;
  }
  .icon-graduation-cap {
    color: $color-icon-1;
  }
  .icon-online-support {
    color: $color-icon-3;
  }

}

.bg-grow-graph {
  background: $color-transparent-to-white, url($baseurl + '/assets/img/bg_grow.jpg') 50% 50% no-repeat;
  background-size: cover;
  min-height: 100px;
}

.fill {
  flex: 1;
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax-img {
  font-family: 'object-fit: cover;';
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.tiendatek {
  .navbar-brand {
    font-family: 'MontserratRegular';
    font-size: 1.3em;
    font-weight: lighter;
    padding-bottom: 0;
    padding-top: 0;
    img {
      max-width: 36px;
    }
  }
}

.bg-tiendatek-nav {
  background-color: $color-tiendatek-nav;
}

.bg-tiendatek-nav-home {
  background-color: $color-tiendatek-nav-home;
}

.tiendatek-brand {
  color: $color-frogtek-orange;
  font-family: 'MontserratRegular';
}

// IE fixes
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .tiendatek-cover {
    margin-top: 0;
  }

  .cover-slogan {
    min-height: 95%;
    padding-top: 2em;
  }

  .tiendatek-product {
    flex: none;
    min-width: 200px;
    width: 20%;
  }

  .btn-next {
    margin-top: 0;
  }

  .card-body {
    width: 100%;
  }

}
