<!DOCTYPE html>
<html lang="en">
<head>
    {% include common-head.html %}
</head>
<body id="home">

{% include common-header.html %}

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <h1 class="text-center mt-5 mb-5">{{page.title}}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-8">
            {{content}}
        </div>
    </div>
</section>

{% include common-contact.html %}

{% include common-footer.html %}
{% include common-scripts.html %}

</body>
</html>
